node_modules
bun.lockb
package-lock.json

# Environment files in any folder
**/.env

# Keep .env.example files
!**/.env.example

# macOS system files in any folder
**/.DS_Store

# Ignore all model .optimized folders
**/.optimized